.form {
  padding: 40px;
  h2 {
    margin-bottom: 40px;
    text-align: center;
  }
  .bg-tan {
    padding: 20px 40px;
  }
}

@media only screen and (max-width: 700px) {
  .form {
    p {
      padding: 0 20px;
    }
    padding: 0;
  }
}
