.form {
  padding: 40px;
  .form-selector {
    & > p,
    div {
      // max-width: 762px;
      margin: 20px auto;
    }
    div {
      padding: 40px 64px;
    }
  }
  h1 {
    margin-bottom: 40px;
  }
  .bg-tan {
    padding: 20px 40px;
  }
}

@media only screen and (max-width: 700px) {
  .form {
    p {
      padding: 0 20px;
    }
    padding: 0;
  }
}
