.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--off-white);
  margin-top: 30px;
}

.form {
  // padding: 40px;
  .form-selector {
    & > p,
    div {
      // max-width: 762px;
      margin: 20px auto;
    }
    div {
      padding: 40px 64px;
    }
  }
  h1 {
    margin-bottom: 40px;
  }
  .bg-tan {
    padding: 20px 40px;
  }
}

.header-section {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  h3 {
    padding-bottom: 20px;
  }
}
.info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 20px 0;
  section {
    border-radius: 15px;
    padding: 25px;
  }
  span {
    font-weight: bold;
  }
  h2 {
    font-weight: bold;
    display: flex;
  }
  &.extra-large {
    section {
      border: 1px solid var(--brand-yellow);
      background-color: var(--primary-yellow);
      width: 85%;
    }
    span {
      color: var(--brand-yellow);
    }
  }
  &.large {
    section {
      border: 1px solid var(--brand-yellow);
      background-color: var(--primary-yellow);
      width: 65%;
      p {
        width: 85%;
      }
    }
    aside {
      width: 40%;
    }
    span {
      color: var(--brand-yellow);
    }
  }
  &.medium {
    aside {
      width: 50%;
    }
    section {
      border: 1px solid var(--brand-pink);
      background-color: var(--lighter-pink);
      width: 65%;
    }
    span {
      color: var(--brand-pink);
    }
    // p {
    //   margin-left: 40px;
    //   width: 60%;
    // }
    ul {
      padding-left: 26px;
      li {
        font-size: 0.9em;
      }
    }
  }
  &.small {
    aside {
      width: 100%;
    }
    section {
      border: 1px solid var(--brand-green);
      background-color: var(--primary-green);
      display: flex;
      flex-direction: column;
      width: 80%;
    }
    span {
      color: var(--brand-green);
    }
    button {
      margin-top: 40px;
      border: 1px solid var(--brand-pink);
      border-radius: 10px;
      color: var(--brand-pink);
      background-color: #ffffff4d;
      padding: 10px;
      font-weight: bold;
    }
  }
}

#registration {
  background-color: var(--primary-tan);
  max-width: 100%;
  padding: 150px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.registration-container {
  display: flex;
  justify-content: center;
}

.registration-section {
  margin: 20px;
  padding: 25px;
  border-radius: 20px;
  background-color: white;
  width: 30%;
  border: 1px solid var(--primary-green);
  h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 865px) {
  #registration {
    padding: 100px 50px;
    h2 {
      text-align: center;
      padding-bottom: 10px;
    }
  }
  .header-section {
    text-align: center;
  }
  .info-section {
    flex-direction: column;
    width: 100%;
    padding: 15px 10px;
    section {
      margin-top: 15px;
      width: 90% !important;
    }
    h2 {
      margin: 15px 0;
    }
    p {
      margin: 0;
      width: 100%;
    }
    &.extra-large {
      aside {
        margin-left: 30px;
      }
    }
    &.large {
      aside {
        padding-left: 30px;
        width: 100%;
      }
    }
    &.medium {
      aside {
        padding-left: 30px;
        width: 100%;
      }
    }
    &.small {
      aside {
        padding-left: 30px;
      }
    }
  }
  .registration-container {
    flex-direction: column;
  }
  .registration-section {
    width: 100%;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 700px) {
  .form {
    p {
      padding: 0 20px;
    }
    padding: 0;
  }
  .form-selector div {
    padding: 0;
  }
  .form .form-selector div {
    padding: 40px 30px;
  }
  .bg-tan p {
    padding: 0;
  }
}
