.input-group label {
  color: var(--brand-gray);
  font-size: 0.7em;
}

.input-container {
  position: relative;
  border-radius: 6px;
  border: 1px solid var(--brand-gray);
  background-color: white;
  display: flex !important;
  align-items: center;
  label {
    position: absolute;
    top: -19px;
    font-size: 0.7em;
    left: 5px;
    color: var(--brand-gray);
  }
  i {
    padding-left: 7px;
    font-size: 1.4em;
    color: var(--brand-gray);
    &.fancy {
      font-size: 1.6em;
    }
  }
  input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 13px 8px;
    border: none;
  }
  &.fancy {
    font-size: 1.2em;
  }
}

.photo-input-container {
  border: 1px dashed black;
  height: 140px;
  width: 100%;
  display: block;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    cursor: pointer;
  }
  .secondary {
    pointer-events: none;
  }
  label {
    display: block;
    cursor: pointer;
  }
  input {
    display: none;
  }
  img {
    height: 100%;
  }
}

/******************************* MOBILE *********************************/
// @media only screen and (max-width: 750px) {

// }
