.active-filters {
  width: 65vw;
  margin: auto;
}

.ant-spin-spinning {
  display: block;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-spin-dot {
  font-size: 60px;
}

header {
  img {
    height: 60px;
  }
  nav {
    ul {
      li {
        padding: 10px;
      }
      display: flex;
      list-style: none;
      padding: 0;
    }
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

@media only screen and (max-width: 750px) {
  .logo-container {
    margin-left: 0;
  }
}
