.button {
  cursor: pointer;
  width: fit-content;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 0.86em;
  line-height: normal;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  border: 2px solid var(--primary-pink);
  transition: filter 200ms;
  i {
    font-size: 1.5em;
    margin-right: 5px;
  }
  &.small {
    height: 30px;
    &.icon {
      width: 30px;
    }
  }
  &.secondary {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--primary-pink);
    &:hover,
    :focus {
      filter: brightness(95%);
    }
    &:active {
      filter: brightness(90%);
    }
  }
  &.primary {
    background-color: var(--primary-pink);
    color: white;
    &:hover,
    :focus {
      filter: brightness(106%);
    }
    &:active {
      filter: brightness(90%);
    }
  }
  &.disabled {
    pointer-events: none;
    border-color: #e2e2e2;
    background-color: #e2e2e2;
    color: #9a9a9a;
  }
  &.icon {
    padding: 15px;
    i {
      margin: 0;
    }
  }
}

.button-group-container {
  display: flex;
  align-items: center;
  button,
  a {
    flex: 1;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .button.icon {
    padding: 10px;
  }
}
