form {
  padding: 0 50px;
  font-size: 1.2em;
  .input-label {
    font-weight: bold;
    width: 25%;
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    input {
      height: 2.3em;
    }
  }
  fieldset {
    margin-bottom: 20px;
    display: flex;
  }
  .general-info-container {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .long-input {
      width: 45%;
    }
  }
  .overview-container {
    justify-content: center;
    label {
      width: 50%;
      height: 8em;
      textarea {
        height: 100%;
      }
    }
  }
  .photo-container,
  .visibility-container {
    justify-content: space-around;
  }
  .photo-container {
    label {
      font-weight: bold;
      display: flex;
      flex-direction: column;
    }
    input {
      font-size: 0.9em;
    }
  }
  .visibility-container {
    font-size: 1.1em;
    label {
      display: flex;
      align-items: center;
    }
    input {
      height: 1em;
      width: 1em;
      margin-right: 10px;
    }
  }
  .options-group-container {
    justify-content: space-between;
    fieldset {
      width: 30%;
    }
    legend {
      font-size: 1.3em;
      margin: 0;
    }
    input {
      margin-right: 6px;
    }
    ul {
      list-style: none;
      width: 100%;
      padding: 4px 12px;
      border: 1px solid black;
      height: 300px;
      overflow-y: scroll;
    }
  }
}

@media only screen and (max-width: 750px) {
  form {
    padding: 0 10px;
    fieldset {
      margin: 0;
    }
    label {
      width: 100% !important;
    }
    .options-group-container {
      flex-direction: column;
      fieldset {
        width: 100% !important;
      }
    }
    .photo-container {
      flex-direction: column;
    }
  }
}
