/****************  ****************/
.results-description {
  background-color: var(--off-white);
  padding: 40px 15%;
  margin: auto;
  div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  span {
    border-radius: 8px;
    width: 200px;
    display: block;
    background-color: var(--primary-yellow);
    padding: 15px;
  }
}

form {
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    p {
      margin-right: 30px;
      cursor: pointer;
      color: var(--brand-pink);
      font-size: 1em;
      font-weight: 500;
    }
  }
  textarea {
    height: 100px;
    width: 100%;
    border-radius: 8px;
  }
  .form-input-container {
    width: 100%;
    display: block;
    margin: 15px 0;
    &.half {
      width: 48%;
    }
    &.large {
      width: 65%;
    }
    &.small {
      width: 30%;
    }
    & p {
      margin: 0;
      font-size: 0.8em;
      color: gray;
    }
  }
  ul {
    list-style: none;
    max-height: 250px;
    overflow-y: scroll;
    padding: 20px;
    margin: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid gray;
    input {
      margin-right: 10px;
    }
    li {
      padding: 10px;
    }
  }
}

.results-page {
  display: flex;
  padding: 15px;
}

.page-state-indicator {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0;
  &.active span {
    background-color: var(--brand-green);
    color: white;
  }
  &.complete {
    color: var(--brand-gray);
    span {
      background-color: var(--lighter-green);
      border: none;
      color: var(--brand-gray);
    }
  }
  span {
    border-radius: 50%;
    width: 40px;
    border: 2px solid var(--brand-green);
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-right: 15px;
    color: var(--brand-green);
    font-size: 1.5em;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

.form-container {
  ol {
    margin: 0;
    padding: 0;
    flex: 0 0 225px;
    border-top: 1px solid var(--brand-green);
  }
  section {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    h3 {
      text-align: left;
      padding: 5px;
    }
    & > div {
      flex: 1 0 0;
      margin-left: 10%;
      border-top: 1px solid var(--brand-green);
    }
  }
}

@media only screen and (max-width: 700px) {
  .results-page {
    padding: 0;
    .provider-table-container > span:first-of-type {
      padding: 15px;
    }
    .provider-container {
      padding: 20px;
    }
  }
}
