/************************ OPTION LIST ************************/
.options-list-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  border: 1px solid gray;
  & > p {
    font-weight: bold;
    font-size: 1.3em;
  }
  .options-list {
    max-height: 150px;
    overflow-y: scroll;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      padding: 5px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
      }
    }
  }
}
.delete-icon {
  color: #c4005b;
  & :hover {
    color: #505050;
  }
}
