body div .picture-split-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: stretch; /* This ensures both spans have the same height. */
  grid-template-areas: 'left right';
  h1 {
    text-align: left;
  }
  .children-container {
    margin: auto;
    max-width: 424px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > .button {
      width: 100%;
    }
    &.reverse {
      grid-area: right;
    }
  }
  p {
    font-size: 0.95em;
  }
}

a {
  padding-bottom: 20px;
}

.header-section {
  display: flex;
  align-items: center;
  section {
    padding: 30px 15px;
    width: 70%;
    margin-bottom: 45px;
    background-color: var(--off-white);
    border: 1px solid var(--brand-green);
  }
}

.service-description-section {
  h2 {
    color: var(--primary-pink);
  }
  button {
    margin: initial 0;
  }
}

/************************ PICTURE CONTAINER *************************/

.picture-container {
  max-width: none;
  min-height: 440px;
  background-image: url('/src/assets/images/dashboard-hero.png'); /* Replace with your image URL */
  background-size: cover; /* Resize the background image to cover the container */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center the image */
}

@media only screen and (min-width: 700px) {
  .children-container.full .children-container {
    padding: 64px 64px 120px 64px;
  }
}
@media only screen and (max-width: 700px) {
  .picture-split-container.full .picture-container {
    height: 350px;
  }
  body div .picture-split-container {
    display: flex;
    flex-direction: column;
    &.top {
      flex-direction: column-reverse;
      .picture-container {
        height: 275px;
      }
    }
    .children-container {
      padding: 20px;
    }
  }
  .picture-container {
    display: none;
    height: 200px;
    &.full {
      height: 350px;
    }
  }
  .header-section {
    section {
      width: 90%;
    }
  }
}
