.dashboard {
  h2,
  h3 {
    text-align: center;
  }
  h2 {
    margin-bottom: 22px;
  }
  .content-main .picture-split-container:last-child {
    display: none;
  }
  .search-container {
    position: relative;
    padding-bottom: 100px;
    & + section {
      padding-top: 100px;
    }
    .provider-search {
      position: absolute;
      width: 75%;
      left: 0;
      bottom: 0;
      transform: translateY(50%);
      margin: 0 12.5%;
    }
  }
  h1 {
    font-weight: 200;
    line-height: 1.1em;
    padding: 40px;
    color: var(--primary-pink);
    text-align: left;
    padding: 0;
    font-weight: 300;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 300;
  }
}
@media only screen and (max-width: 700px) {
  .dashboard {
    .picture-split-container.full {
      p {
        font-size: 1.15em;
        font-weight: 500;
      }
      .button-group-container {
        flex-direction: column;
        .button {
          font-size: 1.1em;
          width: 100%;
          margin: 10px;
        }
      }
    }

    .bg-tan {
      background-color: var(--white) !important;
    }
    .content-main > .provider-search.mobile {
      &::before {
        font-family: Plus Jakarta Sans;
        font-size: 1.4em;
        content: 'Find care providers:';
        padding: 20px 0 40px;
        text-align: center;
        width: 100%;
      }

      background-color: var(--off-white);
    }
    .location-section {
      text-align: center;
      flex-direction: column-reverse;

      img {
        width: 100% !important;
      }
    }
    .content-main > .picture-split-container:nth-child(2) {
      background-color: blue;
    }
    section:last-of-type {
    }
  }
}
