div.dashboard {
  .values-section {
    background-color: var(--off-white);
    padding: 20px 40px;
    margin: 32px 0;
    h2 {
      color: var(--primary-pink);
    }
  }

  h1 {
    font-size: 56px;
    font-weight: 600;
    line-height: 65px;
  }
  .picture-split-container {
    &.full {
      height: calc(90vh - 104px);
      .children-container p {
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
  .search-container {
    position: relative;
    padding-bottom: 120px;
    & + section {
      padding-top: 120px;
    }
    div.provider-search {
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(50%);
      margin: auto;
    }
  }
  .type-of-care {
    padding: 0;
    section {
      padding-bottom: 80px;
    }
  }
  h1 {
    padding: 40px;
    padding: 0;
    font-style: normal;
  }
}
@media only screen and (min-width: 700px) {
  div.dashboard h1 {
    text-align: left;
    text-shadow: 1px 1px 10px var(--primary-yellow);
    text-overflow: unset;
    width: 100vw;
    max-width: 750px;
    overflow: visible;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    z-index: 100;
  }
  .picture-split-container.full .children-container p {
    margin-top: 120px;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 700px) {
  .dashboard {
    .picture-split-container.full {
      p {
        font-size: 1.15em;
        font-weight: 500;
      }
      .button-group-container {
        flex-direction: column;
        .button {
          font-size: 1.1em;
          width: 100%;
          margin: 10px;
        }
      }
    }

    .bg-tan {
      background-color: var(--white) !important;
    }
    .content-main > .provider-search.mobile {
      &::before {
        font-family: Plus Jakarta Sans;
        font-size: 1.4em;
        content: 'Find care providers:';
        padding: 20px 0 40px;
        text-align: center;
        width: 100%;
      }

      background-color: var(--off-white);
    }
  }
}
