h1 {
  text-align: center;
  font-weight: normal;
}

.content-header {
  padding: 70px;
  display: flex;
  background: #eeee;
  h2 {
    font-weight: bolder;
  }
}

.dashboard-main {
  padding: 70px;
  h3 {
    padding: 20px;
    font-size: 1.6em;
    text-align: center;
  }
  .category-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > div {
      max-width: 400px;
      flex: 1 1 235px;
      padding: 30px;
      & span:first-of-type {
        display: flex;
        justify-content: center;
      }
    }
    img {
      width: 100%;
      max-width: 300px;
    }

    h4 {
      text-align: center;
      font-size: 1.2em;
      padding: 20px;
    }
  }
}

.find-care {
  .content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      padding: 0 100px;
    }
  }
}

.link-button {
  display: block;
  background-color: lightgrey;
  width: fit-content;
  padding: 7px 30px;
  border-radius: 3px;
  margin: 10px;
  color: black;
}
