div.dashboard {
  .provider-search {
    margin: auto !important;
    width: 70%;
  }
  h1 {
    font-size: 56px;
    text-align: left;
    font-weight: 600;
    line-height: 65px;
  }
  .picture-split-container {
    &.full {
      height: calc(90vh - 104px);
      .children-container p {
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
  .search-container {
    position: relative;
    padding-bottom: 120px;
    & + section {
      padding-top: 120px;
    }
    div.provider-search {
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(50%);
      margin: auto;
    }
  }
  .type-of-care {
    padding: 0;
    section {
      padding-bottom: 80px;
    }
  }
  h1 {
    padding: 40px;
    padding: 0;
    font-style: normal;
  }
}
@media only screen and (max-width: 700px) {
  .dashboard {
    .picture-split-container.full {
      p {
        font-size: 1.15em;
        font-weight: 500;
      }
      .button-group-container {
        flex-direction: column;
        .button {
          font-size: 1.1em;
          width: 100%;
          margin: 10px;
        }
      }
    }

    .bg-tan {
      background-color: var(--white) !important;
    }
    .content-main > .provider-search.mobile {
      &::before {
        font-family: Plus Jakarta Sans;
        font-size: 1.4em;
        content: 'Find care providers:';
        padding: 20px 0 40px;
        text-align: center;
        width: 100%;
      }

      background-color: var(--off-white);
    }
    .location-section {
      text-align: center;
      flex-direction: column-reverse;

      img {
        width: 100% !important;
      }
    }
  }
}
