.content-header {
  background-color: var(--primary-tan);
  span {
    position: relative;
    display: block;
    img {
      width: 100%;
    }
  }
  .card {
    top: 20%;
    left: 13%;
    width: 350px;
    background: var(--off-white);
  }
}
.content-main {
  & > section {
    padding: 40px;
  }
}
