/************************ PROVIDER TABLE ************************/
.directory {
  .provider-search {
    width: 80%;
    margin: auto;
  }
}

.provider-container.list {
  height: fit-content;
  padding: 20px;
  display: flex;
  width: 100%;
  text-decoration: none;
  .bookmark-label {
    padding: inherit;
  }
  h2 {
    margin-bottom: 3px;
  }
  .photo-container {
    width: 180px;
    margin-right: 20px;
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
  p {
    font-size: 0.85em;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5em;
    margin: 0 !important;
    max-width: 500px;
  }
}
.provider-container.full {
  h2,
  h3 {
    text-align: left;
  }
  h3 {
    color: var(--brand-pink);
  }
  & > * {
    padding: 20px 100px;
  }
  .provider-actions {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

    span {
      display: flex;
      align-items: center;
    }
  }
  .provider-header {
    position: relative;
    display: flex;
    margin: auto;
    background-color: var(--primary-tan);
    align-items: center;
    & > span:first-of-type {
      display: flex;
      margin-right: 50px;
      p {
        margin: 10px 0 !important;
      }
    }
    .bookmark-label {
      top: 20px;
      left: 100px;
    }
    img {
      height: 150px;
      border-radius: 50%;
      margin-right: 20px;
    }
  }
}
.provider-table-container {
  margin: auto;
  padding: 0;
  width: 100%;
  & > span {
    padding-bottom: 15px;
    display: block;
    margin-bottom: 10px;
    background-image: linear-gradient(
      to right,
      var(--primary-yellow) 33%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 16px 2px;
    background-repeat: repeat-x;
    & h2,
    h3 {
      text-align: left;
      font-weight: unset;
      font-size: 1.5em;
    }
    h3 {
      font-size: 1.2em;
    }
  }
  & > div {
    overflow: hidden;
    position: relative;
    transition: box-shadow 250ms, border-radius 250ms;
    &:nth-child(odd) {
      background-color: var(--off-white);
    }
  }
}
@media only screen and (max-width: 700px) {
  .bookmark-label {
    padding: 5px;
    top: 15px !important;
    left: 15px !important;
  }
  .provider-container.list {
    flex-wrap: wrap;
    & > span:first-of-type {
      display: flex;
    }
    span:last-child {
      margin-top: 20px;
      width: 100%;
    }
  }
  .provider-header span:first-of-type {
    margin-right: 0 !important;
  }
  .provider-container.full {
    & > * {
      padding: 15px;
    }
  }
  .provider-header {
    flex-direction: column;
    justify-content: center;
  }
  .directory {
    .content-main > div:first-of-type {
      background-color: var(--white);
    }
    .provider-search {
      width: 100%;
      font-size: 0.8em;
      padding: 0 5px;
      & > * {
        margin: 0 3px;
      }
      .input-container {
        margin: 0 10px;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid var(--brand-gray);
        flex: 2 1 20%;
        &:first-of-type {
          flex: 2 1 40%;
        }
        label {
          display: none;
        }
        i {
          padding-left: 0px;
        }
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .provider-table-container > div:hover {
    box-shadow: 1px 1px 5px var(--primary-gray);
    border-radius: 8px;
    z-index: 12;
  }
}
