.active-filters {
  width: 65vw;
  margin: auto;
}

.ant-spin-spinning {
  display: block;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-spin-dot {
  font-size: 60px;
}

.header img {
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}
