.provider-filters {
  min-width: 200px;
  font-size: 0.8em;
  padding-bottom: 50px;
  background: var(--off-white);
  height: fit-content;
  margin-right: 20px;
  .icon-clear {
    display: none;
    text-align: right;
    padding: 10px 10px 0;
    font-size: 1.4em;
  }
  span {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    h4 {
      color: var(--brand-pink);
    }
    a {
      font-size: 0.85em;
    }
  }
  & > div {
    & > label {
      display: block;
      padding: 5px 15px;
      background-color: var(--primary-tan);
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0 15px;
      li {
        padding: 5px;
        input {
          margin-right: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .provider-filters {
    position: fixed;
    margin: auto;
    left: 0;
    bottom: 0;
    z-index: 100;
    right: 0;
    box-shadow: 10px 10px 100px var(--brand-gray);
  }
}
