/******************************* OPTION CENTER *********************************/
.option-center {
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  min-width: 300px;
  border-radius: 5px;
  padding: 15px;
  margin: 0 10px;
  a {
    text-align: center;
  }
  & div:first-of-type {
    position: relative;
    top: -40px;
  }
  & span:first-of-type {
    display: flex;
    justify-content: center;
  }
  img {
    height: 100px;
  }
}

.option-center-container {
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: flex;
}
/******************************* INPUT *********************************/
.input-group label {
  color: var(--brand-gray);
  font-size: 0.7em;
}

.input-container {
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--brand-gray);
  background-color: white;
  display: flex !important;
  align-items: center;
  label {
    position: absolute;
    top: -19px;
    font-size: 0.7em;
    left: 5px;
    color: var(--brand-gray);
  }
  i {
    padding-left: 13px;
    font-size: 1.4em;
    color: var(--brand-gray);
  }
  input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 13px 8px;
    border: none;
  }
}

.photo-input-container {
  border: 1px dashed black;
  height: 140px;
  width: 100%;
  display: block;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    cursor: pointer;
  }
  .secondary {
    pointer-events: none;
  }
  label {
    display: block;
    cursor: pointer;
  }
  input {
    display: none;
  }
  img {
    height: 100%;
  }
}
/******************************* HEADER *********************************/
header {
  a {
    text-decoration: none;
    text-underline-offset: 5px;
    color: var(--brand-gray);
    &:hover {
      color: var(--black);
    }
  }
  .active {
    color: var(--brand-pink);
    text-decoration: underline;
    &:hover {
      color: var(--brand-pink);
      text-decoration: underline;
    }
  }
  img {
    height: 50px;
  }
  nav {
    ul {
      li {
        margin: 0 15px;
      }
      display: flex;
      list-style: none;
      padding: 0;
    }
  }
  i {
    font-size: 1.8em;
    display: none;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
/******************************* FOOTER *********************************/
footer {
  background: var(--menu-green);
  padding: 60px;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 200px;
  img {
    height: 60px;
  }
  ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    li {
      padding: 4px;
    }
  }
}
/******************************* CARD *********************************/
.card {
  border-radius: 8px;
  padding: 20px;
  position: absolute;
}
/******************************* BUTTON *********************************/
.btn {
  cursor: pointer;
  width: fit-content;
  font-family: 'Plus Jakarta Sans', sans-serif;
  white-space: nowrap;
  height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 13px 30px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  border: 2px solid var(--brand-pink);
  margin: 20px 0;
  transition: filter 200ms;
  i {
    font-size: 1.5em;
    margin-right: 5px;
  }
  &.small {
    height: 30px;
    &.icon {
      width: 30px;
    }
  }
  &.secondary {
    background-color: var(--white);
    color: var(--brand-pink);
    &:hover,
    :focus {
      filter: brightness(95%);
    }
    &:active {
      filter: brightness(90%);
    }
  }
  &.primary {
    background-color: var(--brand-pink);
    color: white;
    &:hover,
    :focus {
      filter: brightness(106%);
    }
    &:active {
      filter: brightness(90%);
    }
  }
  &.disabled {
    pointer-events: none;
    border-color: #e2e2e2;
    background-color: #e2e2e2;
    color: #9a9a9a;
  }
  &.icon {
    padding: 15px;
    i {
      margin: 0;
    }
  }
}
