/******************************* HEADER *********************************/
.header-clone {
  width: 100%;
  height: 104px;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 64px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: var(--off-white);
  transition: margin 300ms;
  &.condensed {
    padding: 8px 64px;
    .logo-container {
      height: 40px;
    }
  }
  a {
    text-decoration: none;
    text-underline-offset: 5px;
    color: var(--darker-gray);
    &:hover {
      color: var(--black);
    }
  }
  .active {
    color: var(--primary-pink);
    text-decoration: underline;
    &:hover {
      color: var(--primary-pink);
      text-decoration: underline;
    }
  }
  .logo-container {
    height: 80px;
    margin-right: auto;
    transition: height 300ms;
    img {
      height: 100%;
    }
  }
  nav {
    ul {
      display: flex;
      flex-wrap: wrap;

      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-left: 30px;
        line-height: 20px;
        font-size: 0.87em;
      }
    }
  }
  & > a {
    margin-left: 20px;
  }
  i {
    font-size: 1.8em;
    display: none;
  }
}
.banner {
  position: fixed;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 13px 20px;
  z-index: 10000;
  top: 104px;
  transition: 200ms;
  span {
    padding: 5px;
    margin-right: 5px;
    background-color: var(--lighter-pink);
  }
  &.condensed {
    top: 56px;
  }
}

/******************************* MOBILE *********************************/
@media only screen and (max-width: 700px) {
  .banner {
    top: 56px;
  }
  .header-clone {
    height: 64px;
  }
  header {
    padding: 12px;
    .logo-container {
      height: 40px;
    }
    img {
      padding: 0;
    }
    nav {
      z-index: 100;
      position: absolute;
      left: 0;
      top: 70px;
      width: 100%;
      button {
        display: none;
      }
    }
    i {
      display: block;
    }
    ul {
      box-shadow: 1px 1px 50px var(--brand-gray);
      background-color: var(--lighter-green);
      flex-direction: column;
      align-items: center;
      li {
        width: 80%;
        padding: 40px;
        text-align: center;
        &:not(:last-child) {
          border-bottom: 1px solid var(--brand-green);
        }
      }
    }
  }
}
