.sponsors-section {
  background-color: var(--primary-tan);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 64px;
}

@media only screen and (max-width: 860px) {
  .sponsors-section {
    flex-direction: column;
    justify-content: space-between;
    height: 375px;
  }
}
