.community-sponsors-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 0 0 0;
  section {
    display: flex;
    justify-content: center;
    a {
      margin: 0px 60px 0 60px !important;
      img {
        display: flex;
        max-height: 150px;
        max-width: 150px;
      }
    }
  }
}
.sponsors-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 64px;
  img {
    max-height: 150px;
    max-width: 150px;
  }
}

@media only screen and (max-width: 860px) {
  .sponsors-section {
    flex-direction: column;
    justify-content: space-between;
  }
  .sponsors-section a {
    padding: 15px 0;
  }
}
