.sponsors-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 64px;
  img {
    max-height: 150px;
    max-width: 150px;
  }
}

@media only screen and (max-width: 860px) {
  .sponsors-section {
    flex-direction: column;
    justify-content: space-between;
    height: 375px;
  }
  .sponsors-section a {
    padding: 15px 0;
  }
}
