.bookmark-checkbox {
  display: none;
}
.bookmark-label {
  position: absolute;
  margin: 15px;
  font-family: 'icomoon';
  font-size: 1.5em;
}

.bookmark-checkbox + .bookmark-label:before {
  color: var(--brand-pink);
  content: '\e908'; /* Bars */
}

.bookmark-checkbox:checked + .bookmark-label:before {
  content: '\e909';
}
