.provider-table-container h2 {
  flex-basis: 100%;
  text-align: center;
}
.provider-table-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: auto;
}
@media only screen and (max-width: 900px) {
  .provider-table-container {
    width: 95vw;
  }
}
