.provider-table-container h2 {
  flex-basis: 100%;
  text-align: center;
}
.provider-table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  margin: auto;
}
@media only screen and (max-width: 800px) {
  .provider-table-container {
    width: 95vw;
  }
}
