.dropdown {
  padding: 13px 8px;
  span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      font-size: 1.2em;
      flex: 3;
      text-align: right;
      font-weight: bold;
    }
  }
}


.consent-question {
  margin:3px 15px;
  font-size: .9em;
  input {
    margin-right: 10px;
  }
}