footer {
  background: var(--menu-green);
  padding: 60px;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 200px;
  img {
    height: 60px;
  }
  ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    li {
      padding: 4px;
    }
  }
}
