footer {
  background: lightgrey;
  padding: 40px;
  h3 {
    font-size: 1em;
  }
  ul {
    list-style: none;
    padding: 0;
    font-size: 0.8em;
    display: inline-block;
    margin-right: 10px;
  }
}
