.option-center {
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  min-width: 300px;
  border-radius: 5px;
  padding: 15px;
  margin: 0 10px;
  a {
    text-align: center;
  }
  & div:first-of-type {
    position: relative;
    top: -40px;
  }
  & span:first-of-type {
    display: flex;
    justify-content: center;
  }
  img {
    height: 100px;
  }
}

.option-center-container {
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: flex;
}

@media only screen and (max-width: 750px) {
  .option-center-container {
    overflow-x: scroll;
  }
  .option-center {
    background-color: var(--primary-tan);
  }
}
