.navigation-container {
  margin: auto;
  margin-bottom: 50px;
}

.search-bar {
  width: 50%;
  margin: auto;
  display: block;
  max-width: 500px;
}
.filters-container {
  width: 70vw;
  margin: 25px auto 0;
  display: flex;
}

.filters-container button {
  margin-right: 10px;
}

.filters-container button.active {
  background: #1890ff;
  color: white;
  border: 1px solid #1890ff;
}

.navigation-container .filters-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 0.75em;
  border-radius: 15px;
}

.navigation-container .new-provider {
  font-size: 0.8em;
  width: 50px;
}

.filters-container .ant-select-multiple {
  width: 100%;
}
.filters-container .ant-dropdown-menu-item:last-child span {
  display: flex;
  justify-content: flex-end;
}
.filters-containter {
  width: 300px;
}

.zip-container label {
  font-size: 0.9em;
  margin-right: 5px;
}
.zip-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.slider-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.slider-wrapper .ant-slider {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .navigation-container {
    margin: 20px 0;
    padding: 0 10px;
    .search-bar {
      margin: 0;
      width: 100%;
    }
    .filters-container {
      margin-left: 0;
      overflow-x: scroll;
      width: 100%;
    }
  }
}
