@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./assets/fonts/style.css');
@font-face {
  font-family: 'icomoon';
  src: url('./assets/fonts/icomoon.eot?8b8tfh');
  src: url('./assets/fonts/icomoon.eot?8b8tfh#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/fonts/icomoon.ttf?8b8tfh') format('truetype'),
    url('./assets/fonts/icomoon.woff?8b8tfh') format('woff'),
    url('./assets/fonts/icomoon.svg?8b8tfh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --brand-gray: #676764;
  --brand-pink: #ad0051;
  --brand-green: #82aa8e;
  --brand-yellow: #e3ab4a;
  --menu-green: #caded0;
  --primary-yellow: #f9e3bd;
  --primary-tan: #fbf2e4;
  --off-white: #fcfbf7;
  --light-gray: #808080;
  --black: #111;
  --white: #fff;
}

body {
  line-height: 1.4em;
  font-family: 'Inter', sans-serif;
}

a {
  color: var(--black);
  text-underline-offset: 3px;
  text-decoration: underline var(--black);
  transition: text-decoration 150ms;
  &:hover {
    text-decoration-color: transparent;
  }
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
}
// h1 {
//   font-size: 40px;
//   line-height: 48px;
// }
h2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
}
// h2 {
//   font-weight: 600;
//   font-size: 32px;
//   line-height: 40px;
// }
h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
p {
  font-size: 0.95em;
  line-height: 24px;
}
// p {
//   font-size: 18px;
//   line-height: 28px;
// }

.content-header {
  padding: 40px 150px;
  background-color: var(--primary-tan);
  span {
    position: relative;
    display: block;
    img {
      width: 100%;
    }
  }
  .card {
    top: 20%;
    left: 13%;
    width: 350px;
    background: var(--off-white);
  }
}
.content-main {
  & > section {
    padding: 40px;
  }
}

.text-link {
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    transition: transform 500ms;
    margin-left: 5px;
    content: '\e904';
    font-family: 'icomoon';
    speak: none;
  }
  &:hover::after {
    transform: translateX(10px);
  }
}

.bg-yellow {
  background-color: var(--primary-yellow);
}

.ant-spin-spinning {
  display: block;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-spin-dot {
  font-size: 60px;
}
.results-description {
  background-color: var(--off-white);
  padding: 40px 15%;
  margin: auto;
  div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  span {
    border-radius: 8px;
    width: 200px;
    display: block;
    background-color: var(--primary-yellow);
    padding: 15px;
  }
}

// /****************************** UI COMPONENTS ********************************************/

// input[type='checkbox'] {
//   margin-right: 10px;
// }

// .link-button {
//   display: block;
//   background-color: lightgrey;
//   width: fit-content;
//   padding: 7px 30px;
//   border-radius: 3px;
//   margin: 10px;
//   color: black;
// }

// /********************************* ELEMENTS ********************************************/

// form {
//   max-width: 600px;
//   margin: auto;
//   input[type='text'] {
//     height: 35px;
//   }
//   textarea {
//     height: 100px;
//   }
//   .input-container {
//     display: flex;
//     justify-content: space-between;
//     max-height: 200px;
//     margin: 20px 0;
//     & > label {
//       display: flex;
//       flex-direction: column;
//       align-items: flex-end;
//       width: 30%;
//       padding: 0 20px;
//       p {
//         margin: 0;
//       }
//       p:last-child {
//         color: grey;
//         font-size: 0.9em;
//       }
//     }
//     ul {
//       list-style: none;
//       padding: 20px;
//       margin: 0;
//       overflow-y: auto;
//       display: flex;
//       flex-direction: column;
//       border: 1px solid gray;
//       li {
//         padding: 10px;
//       }
//     }
//     & > input,
//     textarea,
//     ul {
//       width: 70%;
//     }
//   }
//   .options-group-container {
//     justify-content: space-between;
//     fieldset {
//       width: 30%;
//     }
//     legend {
//       font-size: 1.3em;
//       margin: 0;
//     }
//     input {
//       margin-right: 6px;
//     }
//     ul {
//       list-style: none;
//       width: 100%;
//       padding: 4px 12px;
//       border: 1px solid black;
//       height: 300px;
//       overflow-y: scroll;
//     }
//   }
// }

// .provider-name {
//   display: flex;
//   height: 100%;
//   .image-container {
//     // margin-right: 10px;
//     display: block;
//     height: 100%;
//     background-color: var(--brand-yellow);
//   }
//   img {
//     height: 100%;
//     border-radius: 50%;
//     // max-height: 250px;
//   }
// .name {
//   padding: 0 7px;
//   font-size: 0.9em;
//   h3 {
//     text-align: left;
//     font-size: 1.7em;
//     line-height: 0.7em;
//     margin: 0;
//   }
//   p {
//     margin: 0;
//   }
// }
//   }
// }

// .provider-contact {
//   font-size: 0.8em;
//   width: 300px;
//   align-self: center;
//   a {
//     display: block;
//     margin: 5px;
//   }
// }

// .provider-table-container {
//   // margin: auto;
//   h2,
//   h3 {
//     font-weight: normal;
//     margin: 7px;
//   }

//   & > div {
//     a {
//       // text-decoration: none;
//       // display: flex;
//     }
//     //   display: flex;
//     //   justify-content: space-between;
//     max-height: 200px;
//     // border-top: 1px solid lightgrey;
//     //   padding: 30px;
//     //   overflow: hidden;
//   }
// }

// .option-list-container {
//   font-size: 0.9em;
//   padding: 50px 0;
//   display: flex;
//   justify-content: space-around;
//   span {
//     width: 50%;
//   }
//   label {
//     font-weight: bold;
//     margin-bottom: 5px;
//   }
// }

// /********************************* LAYOUT ********************************************/

// .content-header {
//   padding: 70px;
//   // display: flex;
//   // background: #eeee;
//   h2 {
//     font-weight: bolder;
//   }
// }

// .content-main {
//   padding: 70px;
//   h3 {
//     padding: 20px;
//     font-size: 1.6em;
//     text-align: center;
//   }

// }

// .find-care {
//   .content-header {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     p {
//       padding: 0 100px;
//     }
//   }
// }

.directory {
  .content-header {
    padding: 40px 0;
  }
}
.results-page {
  display: flex;
  padding: 15px;
}

@media only screen and (max-width: 700px) {
  .bg-yellow,
  .content-header {
    background-color: var(--white);
  }
  .content-header {
    padding: 0px 10px !important;
  }
  .dashboard h1,
  h2 {
    text-align: left;
    padding: 0;
  }
}

// // @media only screen and (max-width: 950px) {
// //   .content-header {
// //     padding: 20px;
// //     p {
// //       padding: 0 !important;
// //     }
// //   }
// //   .dashboard-main {
// //     padding: 10px;
// //     margin: auto;
// //   }
// //   .provider-table-container > div {
// //     flex-direction: column;
// //     max-height: none;
// //     align-items: center;
// //     img {
// //       height: 175px;
// //     }
// //   }
// //   .provider-name {
// //     flex-direction: column;
// //     img {
// //       min-height: none;
// //       margin: auto;
// //     }
// //   }
// // }
.filter-toggle {
  margin: 5px 0;
  display: none;
}
@media only screen and (max-width: 1000px) {
  .provider-filters .icon-clear {
    display: block;
  }
  .filter-toggle {
    display: block;
  }
  .provider-filters {
    display: none;
  }
}
// //     border-radius: 5px;«
// //     border: 2px solid gray;
// //     box-shadow: 10px 10px 8px lightgray;
// //     position: absolute;
// //     left: 0;
// //     right: 0;
// //     margin-left: auto;
// //     margin-right: auto;
// //     width: 70%;
// //     height: 70%;
// //   }

// //   header {
// //     flex-direction: column;
// //     padding: 20px;
// //     font-size: 0.8em;
// //   }
// // }
