@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;900&display=swap');

/****************************** UI COMPONENTS ********************************************/

a {
  text-decoration: none;
  color: inherit;
}

input[type='checkbox'] {
  margin-right: 10px;
}

.link-button {
  display: block;
  background-color: lightgrey;
  width: fit-content;
  padding: 7px 30px;
  border-radius: 3px;
  margin: 10px;
  color: black;
}

h1 {
  text-align: center;
  font-weight: normal;
}

/********************************* ELEMENTS ********************************************/

footer {
  background: lightgrey;
  padding: 40px;
  h3 {
    font-size: 1em;
  }
  ul {
    list-style: none;
    padding: 0;
    font-size: 0.8em;
    display: inline-block;
    margin-right: 10px;
  }
}

header {
  img {
    height: 60px;
  }
  nav {
    ul {
      li {
        padding: 10px;
      }
      display: flex;
      list-style: none;
      padding: 0;
    }
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.ant-spin-spinning {
  display: block;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-spin-dot {
  font-size: 60px;
}

form {
  max-width: 600px;
  margin: auto;
  input[type='text'] {
    height: 35px;
  }
  textarea {
    height: 100px;
  }
  .input-container {
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    margin: 20px 0;
    & > label {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 30%;
      padding: 0 20px;
      p {
        margin: 0;
      }
      p:last-child {
        color: grey;
        font-size: 0.9em;
      }
    }
    ul {
      list-style: none;
      padding: 20px;
      margin: 0;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      border: 1px solid gray;
      li {
        padding: 10px;
      }
    }
    & > input,
    textarea,
    ul {
      width: 70%;
    }
  }
  .options-group-container {
    justify-content: space-between;
    fieldset {
      width: 30%;
    }
    legend {
      font-size: 1.3em;
      margin: 0;
    }
    input {
      margin-right: 6px;
    }
    ul {
      list-style: none;
      width: 100%;
      padding: 4px 12px;
      border: 1px solid black;
      height: 300px;
      overflow-y: scroll;
    }
  }
}

.provider-search {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  input {
    height: 30px;
    &:first-of-type {
      flex: 1;
    }
  }

  & > * {
    margin: 0 7px;
  }
}
.filter-toggle {
  display: none;
}

.provider-filters {
  min-width: 200px;
  font-size: 0.8em;
  padding: 20px;
  background: #eee;
  height: fit-content;
  margin-right: 20px;
  & > div {
    padding: 10px 0;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 5px;
        input {
          margin-right: 10px;
        }
      }
    }
  }
}

.provider-container {
  padding: 20px 0 80px;
  .provider-contact {
    width: 100%;
    max-width: 500px;
    background: #eee;
    margin: auto;
    text-align: center;
    padding: 40px;
    h3 {
      margin: 0;
      font-size: 1.2em;
    }
  }
  .provider-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 0;
    button {
      border: none;
      background: none;
      cursor: pointer;
      text-decoration: underline;
      &:first-of-type {
        flex: 1;
        text-align: left;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.provider-name {
  display: flex;
  height: 100%;
  img {
    border-radius: 50%;
    margin-right: 10px;
    max-height: 250px;
  }
  .name {
    display: flex;
    padding: 0 7px;
    flex-direction: column;
    font-size: 0.9em;
    h3 {
      font-weight: normal;
      font-size: 2em;
      margin: 0;
    }
    p {
      font-style: italic;
      margin: 0;
    }
    ul {
      padding: 0;
      label {
        font-weight: bold;
      }
      li {
        margin-left: 20px;
      }
    }
  }
}

.provider-contact {
  font-size: 0.8em;
  width: 300px;
  align-self: center;
  a {
    display: block;
    margin: 5px;
  }
}

.content-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.provider-table-container {
  margin: auto;

  h2,
  h3 {
    font-weight: normal;
    margin: 7px;
  }

  & > div {
    a {
      flex: 2;
    }
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    border-top: 1px solid lightgrey;
    padding: 30px;
    overflow: hidden;
  }
}

.option-list-container {
  font-size: 0.9em;
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  span {
    width: 50%;
  }
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
}

/********************************* LAYOUT ********************************************/

.content-header {
  padding: 70px;
  display: flex;
  background: #eeee;
  h2 {
    font-weight: bolder;
  }
}

.content-main {
  padding: 70px;
  h3 {
    padding: 20px;
    font-size: 1.6em;
    text-align: center;
  }
  .category-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > div {
      max-width: 400px;
      flex: 1 1 235px;
      padding: 30px;
      & span:first-of-type {
        display: flex;
        justify-content: center;
      }
    }
    img {
      width: 100%;
      max-width: 300px;
    }

    h4 {
      text-align: center;
      font-size: 1.2em;
      padding: 20px;
    }
  }
}

.find-care {
  .content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      padding: 0 100px;
    }
  }
}

.results-page {
  display: flex;
}

@media only screen and (max-width: 950px) {
  .content-header {
    padding: 20px;
    p {
      padding: 0 !important;
    }
  }
  .dashboard-main {
    padding: 10px;
    margin: auto;
  }
  .provider-table-container > div {
    flex-direction: column;
    max-height: none;
    align-items: center;
    img {
      height: 175px;
    }
  }
  .provider-name {
    flex-direction: column;
    img {
      min-height: none;
      margin: auto;
    }
  }
}
@media only screen and (max-width: 750px) {
  .filter-toggle {
    display: block;
  }
  .provider-filters {
    display: none;
    border-radius: 5px;
    border: 2px solid gray;
    box-shadow: 10px 10px 8px lightgray;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
  }
  // form {
  //   padding: 0 10px;
  //   fieldset {
  //     margin: 0;
  //   }
  //   label {
  //     width: 100% !important;
  //   }
  //   .options-group-container {
  //     flex-direction: column;
  //     fieldset {
  //       width: 100% !important;
  //     }
  //   }
  //   .photo-container {
  //     flex-direction: column;
  //   }
  // }
  header {
    flex-direction: column;
    padding: 20px;
    font-size: 0.8em;
  }
}
