/***************************** FONTS *******************************/

@import url('./assets/fonts/icon/style.css');
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter.ttf');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'icomoon';
  src: url('./assets/fonts/icon/icomoon.eot?8b8tfh');
  src: url('./assets/fonts/icon/icomoon.eot?8b8tfh#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/icon/icomoon.ttf?8b8tfh') format('truetype'),
    url('./assets/fonts/icon/icomoon.woff?8b8tfh') format('woff'),
    url('./assets/fonts/icon/icomoon.svg?8b8tfh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

body {
  line-height: 1.4em;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
h1 {
  font-size: 40px;
  line-height: 48px;
  color: var(--primary-pink);
  text-align: center;
  font-weight: 500;
}
h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}
h3 {
  font-weight: 500;
  line-height: 32px;
}
p {
  font-size: 0.9em;
  margin: 10px 0;
  line-height: 22px;
}

/************************* COLOR VARIABLES *************************/
:root {
  --mobile-breakpoint: 700px;
  --tablet-breakpoint: 1000px;

  --brand-gray: #676764;
  --brand-pink: #c4005b;
  --brand-green: #82aa8e;
  --brand-yellow: #e3ab4a;

  --primary-gray: #808080;
  --primary-pink: #ad0051;
  --primary-green: #abcfb6;
  --primary-yellow: #f9e3bd;
  --primary-tan: #fbf2e4;

  --lighter-green: #caded0;
  --lighter-pink: #f9dae4;
  --lighter-gray: #c2c2c2;
  --darker-gray: #575757;
  --off-white: #fcfbf7;
  --black: #000;
  --white: #fff;
  --error: #b3261e;
}

.bg-tan {
  background-color: var(--primary-tan);
}
.bg-yellow {
  background-color: var(--primary-yellow);
}
.bg-green {
  background-color: var(--primary-green);
}

/*********************** GLOBAL STYLES *************************/
@import '../node_modules/modern-normalize/modern-normalize.css';

.ant-spin-spinning {
  display: block;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-spin-dot {
  font-size: 60px;
}
section {
  p,
  h2,
  h1,
  h3 {
  }
  & > *:not(.picture-container):not(section) {
    max-width: 762px;
    margin-left: auto;
    margin-right: auto;
  }
}
.content-main {
  & > p {
    text-align: center;
  }
  & > section {
    padding: 80px 0;
    h2 {
      text-align: center;
    }
  }
}

p {
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 0 15px;
}

a {
  color: var(--black);
  text-underline-offset: 3px;
  text-decoration: underline var(--black);
  transition: text-decoration 150ms;
  &:hover {
    text-decoration-color: transparent;
  }
}

.text-link /*TODO this should probably move to Button component*/ {
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    transition: transform 500ms;
    margin-left: 5px;
    content: '\e904';
    font-family: 'icomoon';
    speak: none;
  }
  &:hover::after {
    transform: translateX(10px);
  }
}

.filter-toggle {
  margin: 5px 0;
  display: none;
}

@media only screen and (max-width: 700px) {
  .dashboard h1,
  h2 {
    text-align: left;
    padding: 0;
  }
  form {
    padding: 20px;
  }
}

@media only screen and (max-width: var(--mobile-breakpoint)) {
  .content-main {
    & > section {
      padding: 20px;
    }
  }
  p {
    padding: 0 15px;
  }
}
@media only screen and (max-width: var(--tablet-breakpoint)) {
  .provider-filters .icon-clear {
    display: block;
  }
  .filter-toggle {
    display: block;
  }
  .provider-filters {
    display: none;
  }
}
